[Desktop Entry]
GenericName=App to make notes
Name=Noo
Version=0.9.4
Exec=/usr/bin/noo
Comment=App to make notes
Icon=noo
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;
